* {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  direction: rtl;
  height: 100vh;
  background-image: linear-gradient(45deg, #240165, #05001c);
}
#cityName {
  font-size: 150px;
  color: white;
}
#date {
  font-size: 100;
  font-size: 40px;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-right: 40px;
}
hr {
  border-color: #5200e1;
  margin: 0 40px;
}
.card {
  width: 12%;
  height: 95%;
  background-color: white;
  font-size: 20px;
  box-shadow: 0ps, 10px, 5px, rgb(0 0 0/30%);
}
.header {
  background-image: linear-gradient(45deg, #5708ee, #7a37bf);
  color: white;
}
.header h1 {
  font-weight: 400;
  padding: 5px;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding-left: 25px;
}
.time {
  font-weight: 500;
  font-size: 70px;
}
.select {
  height: 90%;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}
select {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: none;
  color: white;
  width: 300px;
  height: 35px;
  padding:0 5px;
  border-radius: 20px;
  font-size: 25px;
}
option{
    color: black;
}
